# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Codrington,AU,-38.2667,141.9667,64.08,83,96,13.04,light rain
1,1,East London,ZA,-33.0153,27.9116,63.64,83,84,13.13,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.67,61,71,20.24,broken clouds
3,3,Cermik,TR,38.1361,39.4493,73.71,40,19,1.86,few clouds
4,4,Busselton,AU,-33.6500,115.3333,56.55,72,92,14.12,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Tipitapa,NI,12.1973,-86.0971,80.62,83,40,0.00,scattered clouds
11,11,Sao Filipe,CV,14.8961,-24.4956,78.06,86,48,13.18,scattered clouds
18,18,Port Blair,IN,11.6667,92.7500,81.64,77,100,10.49,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,80.76,89,75,3.44,broken clouds
25,25,Kapaa,US,22.0752,-159.3190,80.58,74,20,12.66,few clouds
27,27,Valvedditturai,LK,9.8167,80.1667,83.50,72,100,12.62,overcast clouds
41,41,Labuhan,ID,-6.8844,112.2051,84.99,65,86,5.70,moderate rain
42,42,Hilo,US,19.7297,-155.0900,80.28,88,100,4.00,overcast clouds
47,47,Tabas,IR,33.5959,56.9244,78.73,14,0,1.19,clear sky
49,49,The Valley,AI,18.2170,-63.0578,82.26,74,7,20.02,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Tipitapa,NI,12.1973,-86.0971,80.62,83,40,0.00,scattered clouds
11,11,Sao Filipe,CV,14.8961,-24.4956,78.06,86,48,13.18,scattered clouds
18,18,Port Blair,IN,11.6667,92.7500,81.64,77,100,10.49,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,80.76,89,75,3.44,broken clouds
25,25,Kapaa,US,22.0752,-159.3190,80.58,74,20,12.66,few clouds
27,27,Valvedditturai,LK,9.8167,80.1667,83.50,72,100,12.62,overcast clouds
41,41,Labuhan,ID,-6.8844,112.2051,84.99,65,86,5.70,moderate rain
42,42,Hilo,US,19.7297,-155.0900,80.28,88,100,4.00,overcast clouds
47,47,Tabas,IR,33.5959,56.9244,78.73,14,0,1.19,clear sky
49,49,The Valley,AI,18.2170,-63.0578,82.26,74,7,20.02,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

           City Country  Max Temp Current Description      Lat       Lng
8      Tipitapa      NI     80.62    scattered clouds  12.1973  -86.0971
11   Sao Filipe      CV     78.06    scattered clouds  14.8961  -24.4956
18   Port Blair      IN     81.64     overcast clouds  11.6667   92.7500
21        Vaini      TO     80.76       broken clouds -21.2000 -175.2000
25        Kapaa      US     80.58          few clouds  22.0752 -159.3190
..          ...     ...       ...                 ...      ...       ...
661      Ca Mau      VN     77.97     overcast clouds   9.1769  105.1500
665     Moirang      IN     80.65       broken clouds  24.5000   93.7667
667      Haikou      CN     87.93       broken clouds  20.0458  110.3417
669      Lethem      GY     76.80       broken clouds   3.3803  -59.7968
677         Eyl      SO     80.94       broken clouds   7.9803   49.8164

[190 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Tipitapa,NI,80.62,scattered clouds,12.1973,-86.0971,
11,Sao Filipe,CV,78.06,scattered clouds,14.8961,-24.4956,
18,Port Blair,IN,81.64,overcast clouds,11.6667,92.7500,
21,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
25,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
27,Valvedditturai,LK,83.50,overcast clouds,9.8167,80.1667,
41,Labuhan,ID,84.99,moderate rain,-6.8844,112.2051,
42,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,
47,Tabas,IR,78.73,clear sky,33.5959,56.9244,
49,The Valley,AI,82.26,clear sky,18.2170,-63.0578,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Tipitapa,NI,80.62,scattered clouds,12.1973,-86.0971,Hotel Entre Rios
11,Sao Filipe,CV,78.06,scattered clouds,14.8961,-24.4956,Hotel Xaguate
18,Port Blair,IN,81.64,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
21,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Valvedditturai,LK,83.50,overcast clouds,9.8167,80.1667,Kanahathy Vadali
41,Labuhan,ID,84.99,moderate rain,-6.8844,112.2051,DoubleFAG
42,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
47,Tabas,IR,78.73,clear sky,33.5959,56.9244,شرکت معماری مهراز شایگان آراد
49,The Valley,AI,82.26,clear sky,18.2170,-63.0578,CeBlue Villas & Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Tipitapa,NI,80.62,scattered clouds,12.1973,-86.0971,Hotel Entre Rios
11,Sao Filipe,CV,78.06,scattered clouds,14.8961,-24.4956,Hotel Xaguate
18,Port Blair,IN,81.64,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
21,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Valvedditturai,LK,83.50,overcast clouds,9.8167,80.1667,Kanahathy Vadali
41,Labuhan,ID,84.99,moderate rain,-6.8844,112.2051,DoubleFAG
42,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
47,Tabas,IR,78.73,clear sky,33.5959,56.9244,شرکت معماری مهراز شایگان آراد
49,The Valley,AI,82.26,clear sky,18.2170,-63.0578,CeBlue Villas & Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Entre Rios</dd>\n<dt>City</dt><dd>Tipitapa</dd>\n<dt>Country</dt><dd>NI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Bay Island, Port Blair</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kanahathy Vadali</dd>\n<dt>City</dt><dd>Valvedditturai</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>DoubleFAG</dd>\n<dt>City</dt><dd>Labuhan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 84.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>شرکت معماری مهراز شایگان آراد</dd>\n<dt>City</dt><dd>Tabas</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CeBlue Villas & Beach Resort</dd>\n<dt>City</dt><dd>The Valley</dd>\n<dt>Country</dt><dd>AI</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.26 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8   12.1973  -86.0971
11  14.8961  -24.4956
18  11.6667   92.7500
21 -21.2000 -175.2000
25  22.0752 -159.3190
27   9.8167   80.1667
41  -6.8844  112.2051
42  19.7297 -155.0900
47  33.5959   56.9244
49  18.2170  -63.0578

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))